/* I. Defaults */
.border-dash {
  border: 4px dashed red;
}

/* 1.0 wrapper */
.wrapper {
  min-height: 100vh;
  padding: 2vw 10vw;
  width: 100%;
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
}

/* 2.0 board container */

.board-container {
  position: relative;
  height: auto;
  min-height: 90vh;
  box-shadow: 3px 3px 30px #000000;
  background-color: #1f0627;
}

.active-player {
  background-color: #2a1f2e;
  border: 2px dashed rgb(248, 248, 207);
  box-shadow: 1px 0px 20px rgb(66, 65, 61);
}

/* 3.0 button container */
.button-container {
  left: calc(100%/2 - 100px);
  z-index: 99;
  width: 200px;
  padding: 10vh 0;
}

.buttons {
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.753);
  box-shadow: 1px 5px 4px rgb(107, 95, 107);
  font-size: 24px;
}

.buttons:active {
  transform: translateY(5px);
  box-shadow: none;
}